
<% if logged_in? %>
  <div class="row">
	<aside class="col-md-4">
  	<section class="article_form">
    	<%= form_for(@article) do |f| %>
   			   
   			   <div class="col-sm-8">
      	<%= f.text_field :titre, rows: 10, class: "form-control", placeholder: "Titre" %>
   		 </div>
   			   <div class="col-sm-8">
      	<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Texte" %>
   		 </div>
   			   <%= f.submit "Soumettre", class: "btn btn-primary" %>
   			 <% end %>
  	</section>
	</aside>
  </div>
<% else %>





<div class="container">
     <div class="jumbotron">
      <h1>LE BLOG</h1>
      <p>Un blog est un type de site web – ou une partie d'un site web – utilisé pour la publication périodique et régulière d'articles, généralement succincts, et rendant compte d'une actualité autour d'un sujet donné ou d'une profession. (<a  href="https://fr.wikipedia.org/wiki/Blog">Wikipedia</a>)</p>
<!--       <p><a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a></p> -->
      <%= link_to "S'inscrire", inscription_path, class: "btn btn-lg btn-primary" %>
   	  </div>
 </div>

<% end %>



   <h1>Page : Home </h1>
    <p>Bonjour </p>

<div class="container">
  <div class="jumbotron">
  
  <h1>LE BLOG</h1>
  <p>Un blog est un type de site web - ou une partie d'un site web - utilise 
  pour la publication periodique This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  (<a href="https://fr.wikipedia.org/wiki/Blog">wikipedia</a>)</p>
 <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">s'inscrire</a></p> -->
  <%=link_to "s'inscrire", inscription_path, class: "btn btn-lg btn-primary"%>
   </div>
</div>   

